@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

@utility container {
  margin-inline: auto;
  padding-inline: 2.813rem;
}

@theme {

    /*==== Color ====*/
    --color-white: #FFFFFF;
    --color-light-gray: #DDDDDD;
    --color-gray: #CBCBCB;
    --color-orange-dark: #E03609;
    --color-yellow-gold: #F0B71F;
    --color-black: #010101;
    --color-gray-light: #C4C4C4;
    --color-white-4: rgba(255, 255, 255, 0.04);

    /*==== Font Family ====*/
    --font-orbitron: "Orbitron", sans-serif;
    --font-montserrat: "Montserrat", sans-serif;
    


    /*==== Breakpoints ====*/
  --breakpoint-*: initial;
  --breakpoint-xsm: 32rem;
  --breakpoint-sm: 40rem;
  --breakpoint-md: 48rem;
  --breakpoint-lg: 64rem;
  --breakpoint-xl: 80rem;
  --breakpoint-2xl: 95rem;
}


@layer base {
    body {
        @apply font-montserrat bg-black text-white;
    }
    h1, h2, h3, h4, h5, h6 {
        font-family: var(--font-orbitron:);
        color: var(--color-orange-dark);
    }
    p {
        @apply text-[18px] text-[#DDDDDD] leading-[32px] -tracking-[0.2px]
    }
}

@layer components {
    .linear_btn {
        @apply bg-linear-to-r from-yellow-gold to-orange-dark text-[17px] font-semibold px-5 py-3 rounded-xl;
    }

    .after_bottom {
        @apply after:absolute after:h-px after:w-full after:bg-linear-to-r after:from-yellow-gold after:to-orange-dark after:bottom-0 after:left-0;
    }
    .after_left {
        @apply before:absolute before:h-full before:w-px before:bg-linear-to-b before:from-yellow-gold before:to-orange-dark before:top-0 before:left-0;
    }
    .after_right {
        @apply after:absolute after:h-full after:w-px after:bg-linear-to-t after:from-yellow-gold after:to-orange-dark after:top-0 after:right-0;
    }

    .blur_bg {
        background: rgba(255, 255, 255, 0.04);
        backdrop-filter: blur(25.7px);
    }

    .linear_color_text {
        background: linear-gradient(270deg, #F0B71F 0%, #E03609 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
    }
    .linear_color_button {
        background: linear-gradient(270deg, #F0B71F 0%, #E03609 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        border: 1px solid #E03609;
        border-radius: 12px;
        padding: 12px 20px;
    }

}



